/* 版心 */
.inner_c{
    width: 1140px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: inherit;
}





/* header */
.header{
    height: 30px;
    line-height: 30px;
    text-align: left;
    font-size: 14px;
    width: 100%;
    position: fixed;
    background-color: rgba(5,5,5,0.5);
    box-shadow: 2px 0px 2px 2px rgba(3,3,3,0.3);
    z-index: 2;
}
.header .header_c h1{
    height: 30px;
    width: 40px;
    padding-left: 4px;
    float: left;
    color: rgba(210,210,210,0.9);
}

.header .header_c .header_nav{
    float: left;
}
.header .header_c .header_nav ul li{
    float: left;
    padding-left: 8px;
    color: rgba(210,210,210,0.9);
}
.header .header_c .header_nav ul li a:hover{
    color: white;
    display:block;
}
.header .header_c .all_pro{
    width: 100px;
    float: right;
    margin: 0 50px;
    color: rgba(210,210,210,0.9);
}
.header .header_c .all_pro .app{
    width: 0%;
    position: absolute;
    left: 0;
    top: 68px;
    background: #fff;
    display: none;
}
.header .header_c .all_pro:hover .app{
    display: inline;
}
.header .header_c .all_pro .app .pro_inner{
    margin-top: -37px;
    margin-left: 1024px; 
}
.header .header_c .login{
    float: right;
    margin-right: 15px;
    color: rgba(210,210,210,0.9);
}
.header .header_c .login a:hover{
    color: white;
    display:block;
}





/* banner开始 */
.banner{
    padding-top: 30px;
    height: 80px;
    position: relative;
    top: 30px;
    background-color: blanchedalmond;
    border-bottom: 1px solid rgba(210,210,210,0.9);
    z-index: 1;
}
.banner .banner_c{
    width: 1140px;
    margin: 0 auto;
}
.banner .banner_c a{
    position: relative;
    top: 10px;
    left: 40px;
}
.banner .banner_c input{
    position: relative;
    top: -10px;
    left: 40px;
    width: 450px;
    height: 40px;
}
.banner2{
    margin-top: 30px;
    height: 40px;
    background-color: bisque;
}
.banner2_c{
    margin-left: 100px;
    float: left;
    padding-left: 8px;
    color: rgba(0,0,0,0.9);
    line-height: 40px;
}
.banner2_c ul li{
    float: left;
    margin-right: 10px;
}
.banner2_cc img{
    float: left;
    position: relative;
    top:10px;
    margin-left: 8px;
}
.banner2_cc a{
    float: left;
    background-color: bisque;
    display: block;
}
.banner2_cc a:hover{
    color: white;
    background-color: black;
    display: block;
}




.text{
    margin: 30px 100px auto;
    height: 4000px;
}




.left{
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    width: 700px;
    height: 4000px;
}
.left01{
    margin: 5px 5px;
    height: 500px;
}
.left011{
    height: 20px;
    border-bottom: 1px gray solid;
}
.left011 h2{
    float: left;
}
.left011 a{
    float: left;
    font-size: 8px;
    color: blue;
    margin-left: 5px;
    line-height: 20px;
}
.left011 a:hover{
    background-color: blue;
    color: white;
}
.left012{
    height: 650px;
    width: 680px;
    border: gray;
}
.left0121{
    float: left;
    width: 95px;
    height: 200px;
    font-size: 10px;
    margin: 10px;
    color: dodgerblue;
}
.left0121 a{
    height: 200px;
}
.left0121 p:hover{
    color: honeydew;
    background-color: dodgerblue;
}
.left02{
    margin: 5px 5px;
    height: 120px;
}
.left02 h2{
    border-bottom: 1px gray solid;
    margin-bottom: 20px;
}
.left03{
    margin: 5px 5px;
    height: 200px;
}
.left031{
    width: 660px;
    height: 180px;
    border: 1px gray solid;
    font-size: 13px;
}
.left0311{
    float: left;
    width: 560px;
    height: 170px;
}
.left0311 a:hover{
    color: gray;
    background-color: #222;
}
.left0312{
    float: left;
}
.left0312 img{
    position: relative;
    left: 10px;
    top: 30px;
}
.left04{
    margin: 5px 5px;
    height: 1200px;
}
.left041{
    height: 20px;
    border-bottom: 1px gray solid;
}
.left041 h2{
    float: left;
}
.left041 a{
    float: left;
    font-size: 8px;
    color: blue;
    margin-left: 5px;
    line-height: 20px;
}
.left041 a:hover{
    background-color: blue;
    color: white;
}
.left042{
    float: left;
    width: 300px;
    height: 240px;
    margin: 0 15px;
}
.left042a{
    float: left;
    width: 330px;
    height: 160px;
}
.left0421{
    float: left;
}
.left0422{
    float: left;
    margin: 5px;
}
.left0422 a{
    color: dodgerblue;
}
.left0422 a:hover{
    color: #ddd;
    background-color: dodgerblue;
}
.left042b{
    font-size: 8px;
}
.left05{
    margin: 5px 5px;
    height: 480px;
}
.left051{
    height: 39px;
    border-bottom: 1px gray solid;
}
.left051 h2{
    float: left;
}
.left051 a{
    float: left;
    font-size: 8px;
    color: blue;
    margin-left: 5px;
    line-height: 20px;
}
.left051 a:hover{
    background-color: blue;
    color: white;
}
.left052{
    height: 180px;
}
.left06{
    margin: 5px 5px;
    height: 560px;
}
.left061{
    height: 20px;
    border-bottom: 1px gray solid;
}
.left061 h2{
    float: left;
}
.left061 a{
    float: left;
    font-size: 8px;
    color: blue;
    margin-left: 5px;
    line-height: 20px;
}
.left061 a:hover{
    background-color: blue;
    color: white;
}
.left062{
    height: 20px;
    border-bottom: 1px gray solid;
}
.left062 h3{
    float: left;
    font-size: 8px;
}
.left062 a{
    float: left;
    font-size: 8px;
    color: blue;
    margin-left: 5px;
    line-height: 20px;
}
.left062 a:hover{
    background-color: blue;
    color: white;
}
.left07{
    margin: 5px 5px;
    height: 800px;
}
.left072{
    height: 150px;
    border-bottom: 1px gray solid;
}
.left0721{
    float: left;
    width: 110px;
    height: 200px;
}
.left0722{
    float: left;
    width: 550px;
    height: 200px;
}
.left0722 a{
    font-size: 8px;
    color: blue;
}
.left0722 a:hover{
    background-color: blue;
    color: white;
}






.right{
    float: right;
    margin-right: 5px;
    margin-top: 5px;
    width: 330px;
    height: 2000px;
}
.right01{
    margin: 5px;
    height: 460px;
}
.right011{
    height: 20px;
    border-bottom: 1px gray solid;
}
.right011 h2{
    float: left;
}
.right011 a{
    float: left;
    font-size: 8px;
    color: blue;
    margin-left: 5px;
    line-height: 20px;
}
.right011 a:hover{
    background-color: blue;
    color: white;
}
.right012{
    margin-top: 20px;
    height: 50px;
}
.right012 span{
    background-color: #eee;
    font-size: 12px;
    margin-right: 8px;
    color: dodgerblue;
}
.right012 span:hover{
    background-color: #ddd;
}
.right013{
    margin-top: 20px;
    height: 50px;
}
.right013 span{
    background-color: #eee;
    font-size: 12px;
    margin-right: 8px;
    color: dodgerblue;
}
.right013 span:hover{
    background-color: #ddd;
}
.right014{
    margin-top: 20px;
    height: 50px;
}
.right014 span{
    background-color: #eee;
    font-size: 12px;
    margin-right: 8px;
    color: dodgerblue;
}
.right014 span:hover{
    background-color: #ddd;
}
.right015{
    margin-top: 20px;
    height: 50px;
}
.right015 span{
    background-color: #eee;
    font-size: 12px;
    margin-right: 8px;
    color: dodgerblue;
}
.right015 span:hover{
    background-color: #ddd;
}
.right016{
    margin-top: 20px;
    height: 50px;
}
.right016 span{
    background-color: #eee;
    font-size: 12px;
    margin-right: 8px;
    color: dodgerblue;
}
.right016 span:hover{
    background-color: #ddd;
}
.right017{
    margin-top: 20px;
    height: 50px;
}
.right017 span{
    background-color: #eee;
    font-size: 12px;
    margin-right: 8px;
    color: dodgerblue;
}
.right017 span:hover{
    background-color: #ddd;
}
.right02{
    margin: 5px;
    height: 490px;
}
.right02 h2{
    border-bottom: 1px gray solid;
    margin-bottom: 20px;
}
.right021{
    width: 320px;
    height: 45px;
}
.right021:hover{
    background-color: gray;
}
.right0211{
    float: left;
    width: 260px;
}
.right03{
    margin: 5px;
    height: 640px;
}
.right031{
    height: 20px;
    border-bottom: 1px gray solid;
}
.right031 h2{
    float: left;
}
.right031 a{
    float: left;
    font-size: 8px;
    color: blue;
    margin-left: 5px;
    line-height: 20px;
}
.right031 a:hover{
    background-color: blue;
    color: white;
}
.right032{
    float: left;
    width: 95px;
    height: 200px;
    font-size: 10px;
    margin: 5px;
    color: dodgerblue;
}
.right032 p:hover{
    color: honeydew;
    background-color: dodgerblue;
}
.right04{
    margin: 5px;
    height: 100px;
}
.right04 h2{
    border-bottom: 1px gray solid;
    margin-bottom: 20px;
}
.right04 h2:hover{
    color: white;
    background-color: gray;
}
.right05{
    margin: 5px;
    height: 130px;
}
.right05 h2{
    border-bottom: 1px gray solid;
    margin-bottom: 20px;
}
.right05 h2:hover{
    color: white;
    background-color: gray;
}
.right052{
    float: left;
    width: 40px;
    height: 70px;
    font-size: 10px;
    margin: 5px;
    color: dodgerblue;
}
.right052 p:hover{
    color: honeydew;
    background-color: dodgerblue;
}




.bottom{
    margin: 10px 100px 0 100px;
    height: 40px;
    border-top: 1px gray solid;
    font-size: 8px;
}
.bottom01{
    float: right;
}